/* -------------- MAIN STYLING / OVERALL ------------------- */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;  
    text-align: center; 
    margin: 0;
    background-image: url('Images/bg-img.png');
    background-color: rgba(205, 224, 206, 0.8); 
    
    background-repeat: no-repeat;
    background-size: cover;   /* or contain depending on your preference */
    background-position: center top;
    
    background-blend-mode: overlay;
    color: #38491b;
    /* #fada54; */
}

/* NAVIGATION BAR STYLING */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;  
  padding: 8px 20px;
  height: 50px;
  background-color: #fada54;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 20px; /* spacing between logo and title */
}

.logo {
  height: 45px;
}

.site-title {
  font-size: 18px;
  font-weight: bold;
  color: #38491b;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 40px;
  font-weight: bold;
}

.navbar-right a {
  text-decoration: none;
  color: #38491b;
  font-size: 16px;
}

.navbar-right a:hover {
  text-decoration: underline;
  /* transition: 0.3s ease-in; */
}

 /* SEARCH BAR STYLING */
 .searchBar {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 15px;
}

 .searchBar input[type="text"] {
    padding: 8px 12px;
    width: 400px;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid #38491b;
}

 .searchBar button{
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    background-color: #fada54;
    color: #38491b;
}

.sort-btn {
  border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    background-color: #fada54;
    color: #38491b;
}

/* GENERAL STYLING FOR BUTTONS, incuding the EDIT button which is a link */
button:hover, .btn:hover, .submit-file .btn:hover, .btn-cancel:hover, .edit-link:hover {
  transform: translateY(-1px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

button:active, .btn:active, .edit-link:active{
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/*-------------------------- STYLING FOR HOME PAGE ---------------------- */
.container {
    max-width: 90%;
    margin: 20px auto;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

hr {
    width: 450px;
    height: 2px;
    background-color: #38491b;
}

header .btn {
  background-color: #fada54;
  color: #38491b;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}   

/* ICONS STYLING */
i {
    margin-right: 8px;
    font-size: large;
}

.submit-file {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
/* ---------------- FORM STYLING --------------- */
.submit-file {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.submit-file form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 10px;
  max-width: 400px; 
}
/* ---make label and input same row */
.form-row {
  display: flex;
  align-items: center;
  gap: 15px;   
  margin-bottom: 10px;
}

.form-row label {
  width: 120px; 
  font-weight: bold;
  color: #38491b;
}

.form-row input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #38491b;
  border-radius: 5px;
  font-size: 14px;
}

.submit-file .btn {
  background-color: #fada54;
  color: #38491b;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

/*--------------------------- STYLING FOR TABLE ------------------------ */
table {
  width: 1150px;
  border-collapse: collapse;
  margin: 30px;
  border: 1.5px solid #38491b;
}

/* Header row */
table thead th {
  background-color: #fada54;           
  padding: 12px;
  text-align: left;
  font-weight: bold;
  border-bottom: 1.5px solid #38491b;
}

/* Table rows */
table tbody td {
  padding: 10px;
  background-color: #fffffc;
}

table button {
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

/* EDIT button */
.edit-link {
  text-decoration: none;
  color: white;
  padding: 3px 18px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  background-color: #3eac42;
  gap: 10px;
  display: inline-block;
} 

.edit-link:hover{
  transform: translateY(-1px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

/* DELETE button */
table .delete[type="submit"] {
  background-color: #c3413c;
  color: white;
}

/* OPEN FILE button */
table .see-file-btn {
  background-color: #fada54;
  color: #38491b;
}

/* CANCEL button */
.btn-cancel {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  background-color: #cf4b46;
  color: white;
  transition: background 0.3s ease;
}

.btn-cancel:hover {
  background-color: #ba3b36;
}
/*-------------------------- STYLING FOR ABOUT PAGE ---------------------- */
#eva, #kath, #fely, #dancel {
    width: 400px;
    margin: 10px;
    padding: 15px;
    background-color: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

#eva img, #kath img, #fely img, #dancel img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-color: #38491b;
}

/* Container for team member layout */
#team-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
} 

#team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 800px;
}