/* -------------- MAIN STYLING / OVERALL ------------------- */
body {
    font-family: "raleway", sans-serif;   
    text-align: center; 
    margin: 0;
    background-image: url('Images/bg-img.png');
    background-color: rgba(205, 224, 206, 0.8); 
    background-blend-mode: overlay;
    color: #38491b;
    /* #fada54; */
}

/* NAVIGATION BAR STYLING */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;  
  padding: 8px 20px;
  height: 50px;
  background-color: #fada54;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 20px; /* spacing between logo and title */
}

.logo {
  height: 50px;
}

.site-title {
  font-size: 20px;
  font-weight: bold;
  color: #38491b;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 40px;
  font-weight: bold;
}

.navbar-right a {
  text-decoration: none;
  color: #38491b;
  font-size: 18px;
}

.navbar-right a:hover {
  text-decoration: underline;
  /* transition: 0.3s ease-in; */
}

 /* SEARCH BAR STYLING */
 .searchBar {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 15px;
}

 .searchBar input[type="text"] {
    padding: 8px 12px;
    width: 400px;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid #38491b;
}

 .searchBar button{
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    background-color: #fada54;
    color: #38491b;
    transition: background 0.3s ease;
}

.searchBar button:hover {
    background-color: #e2bf33;
    transform: scale(1);
}

/*-------------------------- STYLING FOR HOME PAGE ---------------------- */
.container {
    max-width: 90%;
    margin: 20px auto;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

hr {
    width: 450px;
    height: 2px;
    background-color: #38491b;
}

header .btn {
  background-color: #fada54;
  color: #38491b;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
  
}   
header .btn:hover {
  background-color: #e2bf33;
}

.submit-file {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
/* ---------------- FORM STYLING --------------- */
.submit-file {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.submit-file form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 10px;
  max-width: 400px; 
}
/* ---make label and input same row */
.form-row {
  display: flex;
  align-items: center;
  gap: 15px;   
  margin-bottom: 10px;
}

.form-row label {
  width: 120px; 
  font-weight: bold;
  color: #38491b;
}

.form-row input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #38491b;
  border-radius: 5px;
  font-size: 14px;
}

.submit-file .btn {
  background-color: #fada54;
  color: #38491b;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}
.submit-file .btn:hover {
  background-color: #e2bf33;
}

/*--------------- STYLING FOR TABLE ----------------- */
table {
  width: 1160px;
  border-collapse: collapse;
  margin: 30px;
  border: 1.5px solid #38491b;
}

/* Header row */
table thead th {
  background-color: #fada54;           
  padding: 12px;
  text-align: left;
  font-weight: bold;
  border-bottom: 1.5px solid #38491b;
}

/* Table rows */
table tbody td {
  padding: 10px;
  background-color: #fffffc;
}

table button {
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

/* EDIT button */
.edit-link {
  text-decoration: none;
  color: white;
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  background-color: #3eac42;
  gap: 10px;
} 

/* DELETE button */
table .delete[type="submit"] {
  background-color: #c3413c;
  color: white;
}

/* OPEN FILE button */
table .see-file-btn {
  background-color: #fada54;
  color: #38491b;
}

/* CANCEL button */
.btn-cancel {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  background-color: #cf4b46;
  color: white;
  transition: background 0.3s ease;
}

.btn-cancel:hover {
  background-color: #ba3b36;
}
/*-------------------------- STYLING FOR ABOUT PAGE ---------------------- */
#eva, #kath, #fely, #dancel {
    width: 400px;
    margin: 10px;
    padding: 15px;
    background-color: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

#eva img, #kath img, #fely img, #dancel img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-color: #38491b;
}

/* Container for team member layout */
#team-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
} 

#team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 800px;
}

/*-------------------------- STYLING FOR LOG IN PAGE ---------------------- */

:root {
	/* RADII */
	--button-radius: 0.7rem;
	/* SIZES */
	--max-width: 380px; 
	--max-height: 420px;

	font-size: 16px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
	align-items: center;
	background-color: #38491b;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: grid;
	height: 100vh;
	place-items: center;
}

.form__title {
	font-weight: 300;
	margin: 0;
	margin-bottom: 1.25rem;
}

.link {
	color: #333;
	font-size: 0.9rem;
	margin: 1.5rem 0;
	text-decoration: none;
}

.box-login-tab {
	width: 50%;
	height: 40px;
	background: #D4CFC9;
	position: absolute;
	top: -28px; 
	left: 0;
	z-index: 1;
	border-radius: 6px 6px 0 0;
	transform: perspective(5px) rotateX(0.93deg) translateZ(-1px);
	transform-origin: 0 0;
	backface-visibility: hidden;
	box-shadow: 15px -10px 0px rgba(0,0,0,0.32);
}

.container {
	position: relative;
	border-radius: var(--button-radius);
	height: var(--max-height);
	max-width: var(--max-width);
	width: 100%; 
	display: flex;
	justify-content: center;
}

.container--signin {
	width: 100%;
	z-index: 2;
	position: relative;
}

.btn {
	background-color: #2D3A16;
	background-image: linear-gradient(90deg, #2D3A16 0%, #536C2E 74%);
	border-radius: 20px;
	border: 1px solid #2D3A16;
	color: #e9e9e9;;
	cursor: pointer;
	font-size: 0.8rem;
	font-weight: bold;
	letter-spacing: 0.1rem;
	padding: 0.9rem 4rem;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.form > .btn {
	margin-top: 1.5rem;
}

.btn:active {
	transform: scale(0.95);
}

.btn:focus {
	outline: none;
}

.form {
	background-color: #D4CFC9;
	border-radius: var(--button-radius);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 3rem;
	height: 100%;
	text-align: center;
	box-shadow: 0 0.9rem 1.7rem rgba(0, 0, 0, 0.25),
		0 0.7rem 0.7rem rgba(0, 0, 0, 0.22);
}

.input {
	background-color: #fff;
	border: none;
	padding: 0.9rem 0.9rem;
	margin: 0.5rem 0;
	width: 100%;
}

/*-------------------------- STYLING SIGN UP PAGE ---------------------- */

:root {
	/* RADII */
	--button-radius: 0.7rem;
	/* SIZES */
	--max-width: 380px; 
	--max-height: 420px;

	font-size: 16px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
	align-items: center;
	background-color: #38491b;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: grid;
	height: 100vh;
	place-items: center;
}

.form__title {
	font-weight: 300;
	margin: 0;
	margin-bottom: 1.25rem;
}

.link {
	color: #333;
	font-size: 0.9rem;
	margin: 1.5rem 0;
	text-decoration: none;
}

.box-login-tab {
	width: 50%;
	height: 40px;
	background: #D4CFC9;
	position: absolute;
	top: -28px; 
	left: 50;
	z-index: 1;
	border-radius: 6px 6px 0 0;
	transform: perspective(5px) rotateX(0.93deg) translateZ(-1px);
	transform-origin: 0 0;
	backface-visibility: hidden;
	box-shadow: 15px -10px 0px rgba(0,0,0,0.32);
}

.container {
	position: relative;
	border-radius: var(--button-radius);
	height: var(--max-height);
	max-width: var(--max-width);
	width: 100%; 
	display: flex;
	justify-content: center;
}

.container--signin {
	width: 100%;
	z-index: 2;
	position: relative;
}

.btn {
	background-color: #2D3A16;
	background-image: linear-gradient(90deg, #2D3A16 0%, #536C2E 74%);
	border-radius: 20px;
	border: 1px solid #2D3A16;
	color: #e9e9e9;;
	cursor: pointer;
	font-size: 0.8rem;
	font-weight: bold;
	letter-spacing: 0.1rem;
	padding: 15px 50px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.form > .btn {
	margin-top: 1.5rem;
}

.btn:active {
	transform: scale(0.95);
}

.btn:focus {
	outline: none;
}

.form {
	background-color: #D4CFC9;
	border-radius: var(--button-radius);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding-top: 50px;
    padding-right:100px;
    padding-left:100px;
    padding-bottom:60px;
	height: 100%;
	text-align: center;
	box-shadow: 0 0.10rem 1.7rem rgba(0, 0, 0, 0.25),
		0 0.7rem 0.7rem rgba(0, 0, 0, 0.22);
}

.input {
	background-color: #fff;
	border: none;
	padding: 0.9rem 0.9rem;
    padding-left:0px;
	margin: .5rem 0;
	width: 177%;
    box-sizing:border-box;
    text-indent: 10px;
    
}


